body {
    background-color: wheat;
}

form {
    margin: 20px auto;
    max-width: 600px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-top: 40px;
}

button {
    width: 100%;
}

label {
    font-weight: bold;
}

input, textarea {
    margin-bottom: 10px;
}


.hero-section {

    padding: 100px 0;
    text-align: center;
    background-color: rgb(0, 26, 255); /* Fallback color if no image */
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero-section .btn {
    font-size: 1.25rem;
    padding: 10px 20px;
}
